:root {
    --background-color: #6882A0;
    --navigation-background: #436386;
    --navigation-hover: #556b87;
    --navigation-submenu-background: #436386;
}

body {
    background: var(--background-color);
    margin:0;
    padding:0;
}

#navigation {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    z-index: var(--z-index-top);
    clear: both;
    margin-bottom: 1px;
    padding: 0px;
    background: var(--navigation-background);
}
#navigation ul {
    
    height:inherit;
    position:sticky;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    list-style: none;
   
    
    box-shadow: #226399 0 -1px inset;
    margin: 0;
    padding: 0;
    z-index: 99;
 

}
#navigation li{
    display:inline-block;
    padding:0.2em 0.9em;
    cursor:pointer;
}
    #navigation li:hover {
        background-color: var(--navigation-hover) ;
    }
    #navigation #about > ul {
        position: fixed;
        margin-top: 0.25em;
        margin-left: 5px;
        overflow: visible;
    }

.submenu {
    position:relative;
    width:5em;
    padding: 0px;
    display: none;
    font-size:0.8em;
    margin-top:15px;
    
}
    .submenu li {
        position: relative;
        display:block;
        left: -25%;
        background: var(--navigation-submenu-background);
        width: 100%;
        margin: 0px;
        padding: 0px;
        float:left;
    }
#projects:hover .submenu {
    display: block;
  
     position: relative;

  
}
#projects a, #projects a:visited{
    text-decoration:none;
    color:inherit;
}
.context-menu {
    display: none;
    position: absolute;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    z-index: 999;
}
.context-menu--active {
    display: block;
}
.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.context-menu__item {
    display: block;
    margin-bottom: 4px;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}
    .context-menu__item:last-child {
        margin-bottom: 0;
    }
    .context-menu__item:hover {
        color: #fff;
        background-color: #0066aa;
    }
nav{
    font-family: Bahnschrift;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    color: #9b7653;
    text-shadow: 0 0 0.05em black, 0.05em 0.05em 0.2em #404040, 0.05em 0.05em 0.1em #f6f6e8, 0 0 0.2em #404040;
}

img {
    width: 150px;
    border-radius: 50%;
}


#mainContent {
    position:relative;
   flex:3 80%;
    min-height: 100px;
    height: auto;
    border: 1px solid black;
    overflow: auto;
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 0.05em black, 0.05em 0.05em 0.2em #404040, 0.05em 0.05em 0.1em #f6f6e8, 0 0 0.2em #404040;
}
#footer{
    position:relative;
    text-align:end;
    margin:0px;
    margin-top:1px;
    background:green;
    padding:5px;
}
#asideLeft{
    background:cyan;
    flex:1 10%;
}
#asideRight{
    background:brown;
    flex:1 10%;
}
#container{
    display:flex;
    flex-direction:row;
}