:root {
    --background-color: #6882A0;
    --navigation-background: #436386;
    --navigation-hover: #556b87;
    --navigation-submenu-background: #436386;
    --nav-text-color: #9b7653;
}

body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
}



nav {
    font-family: Bahnschrift;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    color: #9b7653;
    text-shadow: 0 0 0.05em black, 0.05em 0.05em 0.2em #404040, 0.05em 0.05em 0.1em #f6f6e8, 0 0 0.2em #404040;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: inline-block;
    background: var(--navigation-background);
}


    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: left;
        display: inline-block;
    }

        nav ul li {
            position: relative;
            margin: 0 20px 0 0;
            float: left;
            display: inline-block;
            transition: all 0.3s ease-in-out;
        }

li > a:after {
    content: ' +';
}
/* Change this in order to change the Dropdown symbol */

li > a:only-child:after {
    content: '';
}

nav ul li a {
    padding: 20px;
    display: inline-block;
    color: var(--nav-text-color);
    text-decoration: none;
}

    nav ul li a:hover {
        opacity: 0.8;
        transition: all 1.5s ease-in-out;
    }

nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background: var(--navigation-background);
    float: left;
    height:0px;
    z-index: 9999;
}

    nav ul li ul li {
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

nav ul li:hover ul {
    display: block;
    transition: height 5s;
    height: auto;
    color: var(--navigation-submenu-background);
}

nav ul li:hover {
    background: var(--navigation-hover);

}




.context-menu {
    display: none;
    position: absolute;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    z-index: 999;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

    .context-menu__item:last-child {
        margin-bottom: 0;
    }

    .context-menu__item:hover {
        color: #fff;
        background-color: #0066aa;
    }



img {
    width: 150px;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: row;
}
#mainContent {
    position: relative;
    flex: 3 80%;
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 0.05em black, 0.05em 0.05em 0.2em #404040, 0.05em 0.05em 0.1em #f6f6e8, 0 0 0.2em #404040;
}

#footer {
    position: relative;
    text-align: end;
    margin: 0px;
    margin-top: 1px;
    background: green;
    padding: 5px;
}

#asideLeft {
    background: cyan;
    flex: 1 10%;
}

#asideRight {
    background: brown;
    flex: 1 10%;
}


