

#Playground {
  border: 1px solid black;
  flex: 1;
}
#Scoreboard{
  border: 1px solid green;
  flex: 2;
}
#flexContainer {
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#divControlPanelContainer{
    flex: 15%;
    border: 1px solid black;
}
#spanControlPanel{
    text-align:center;
    font: 20px Arial Green;
    margin-left:30%;
    border-bottom: 1px solid gray;
    color: blue;
}
#divCanvas {
    border: 5px solid gray;
    flex: 60%;
    min-width: 50%;
    max-width: 50%;
    min-height: 37.5%;
    max-height: 37.5%;
    padding: 0;
    margin: 0;
    margin-left: 1%;
    margin-right: 1%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#divControlPanelContainer ul {
    list-style: none;
}

canvas{
    margin:0;
    padding:0;
}

.buttons {
    border-radius: 50%;
    border: 2px groove gray;
    font: 20px Arial;
    padding: 5px;
    width:100px;
}

#divInventory {
    flex: auto;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    gap: 0.5px;
    border: 4px groove whitesmoke;
    border-radius:15px;
}

.invHeader {
    position:relative;
    min-height: 30px;
    border-bottom: 3px groove whitesmoke;
    background-color: #3E3E3F;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
#Xbutton {
    position:absolute;
    right:0px;
    padding: 0;
    margin:2.5px;
    height: 25px;
    width: 25px;
    background-color: orangered;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    vertical-align: central;
    border: 2px solid black;
    border-radius:5px;
}
    
.invContent {
    display: grid;
    grid-template-columns: repeat(5, 20% [col-start]);
    gap: 0.5px;
    padding: 5px;
    background-color: #3E3E3F;
}
.invFooter {
    min-height: 30px;
    border-top: 3px groove whitesmoke;
    background-color:#3E3E3F;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.divItem {
    position: relative;
    border: 0.01px solid whitesmoke;
    min-width:50px;
    min-height: 50px;
    margin: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.itemValue {
    position: absolute;
    min-height:15px;
    min-width:15px;
    bottom: 0;
    right: 0;
    font: 10px arial;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-right: 1px;
    border-bottom: 1px;
    text-align:center;
    vertical-align:bottom;
    font:10px Arial black;
    background-color:gray;
    color:white;
}
