#Playground {
  border: 1px solid black;
  flex: 1;
}
#Scoreboard{
  border: 1px solid green;
  flex: 2;
}

#divCanvas {
    border: 5px solid gray;
    flex-basis:0;
    flex-grow:1;
    min-width: 50%;
    max-width:50%;
    min-height: 37.5%;
    max-height: 37.5%;
    padding: 0;
    margin: 0;
    margin-left: 25%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
}

canvas{
    margin:0;
    padding:0;
}

