/*---------------
 * ---------Variables-------- */
/*---------------
 * ---------Global-------- */


.allergens-select {
    display:none;
}
#allergensDiv {
    display: flex;
    align-items: center;
    vertical-align: central;
    margin: 5px;
    float:right;
}
.labelsContent .select img{
    height:2rem;
    padding:0;
    margin:0;
}
#allergensDiv .select_box_area p .option::after {
    content: " ";
    position: absolute;
    right: 5px;
    top: 0;
}