/*---------------
 * ---------Variables-------- */
/*---------------
 * ---------Global-------- */


.select_box_area {
    position: relative;
    display: inline-block;
  
}
#categoriesDiv {
    display: flex;
    align-items: center;
    vertical-align: central;
}
.placeHolder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: pointer;
    background-color: #e6e6e6;
    color: darkcyan;
    opacity: 0.5;
}
.select_box_area p {
    margin-bottom: 0px;
    min-width: 400px;
    max-width: 400px;
    background: #e6e6e6;
    padding: 10px 15px;
    border: 1px solid black;
    line-height: 24px;
    padding-right: 30px;
    cursor: pointer;
}

        .select_box_area p em {
            position: absolute;
            right: 15px;
            top: 13px;
            font-size: 20px;
            transition: all 0.3s linear;
        }

            .select_box_area p em.angle-up {
                transform: rotate(180deg);
            }

        .select_box_area p .option {
            position: relative;
            display: inline-block;
            padding-right: 15px;
        }

            .select_box_area p .option::after {
                content: ",";
                position: absolute;
                right: 5px;
                top: 0;
            }

            .select_box_area p .option:last-of-type {
                padding-right: 0px;
            }

                .select_box_area p .option:last-of-type::after {
                    display: none;
                }

.filter_list {
    padding: 0px;
    background: #e6e6e6;
    border: 1px solid black;
    border-top: none;
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
}

    .filter_list li {
        list-style: none;
    }

        .filter_list li label {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 0px;
            font-size: 14px;
            cursor: pointer;
        }

        .filter_list li input[type=checkbox] {
            margin-right: 5px;
            min-width:auto;
        }

        .filter_list li + li {
            border-top: 1px solid #999999;
        }

.custom-select {
    display: none;
}
