html {
    font-family: 'Arial', sans-serif;
}

button {
    border-radius:10px;
    border:1px solid black;
    min-height: 20px;
    min-width: 20px;
}
nav > button {
    min-height:50px;
    min-width:50px;
}
nav {
    margin-top:0;
    padding:0;

}
#closeSignsBox {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    margin-left:auto;
    max-width: 25px;
    max-height: 25px;
    right: 0;
    top: 0;
}
#SignsBox {
    display:flex;
    margin:5px;
    border:1px dotted green;
    height:600px;
}
    #SignsContainer{
        display:flex;
        flex-direction:column;
        border:1px solid black;
        width:40%;
    }
    #searchContainer{
        display:flex;
        width:100%;
        height:6%;
    }
#fetchSignsButton {
    width: 6%;
    background-color: lightcoral;
    border-radius: 0px;
    margin:1px;
}
    #searchInput{
        width:100%;
    }
#searchButton {
    border-radius: 0;
    min-width: 6%;
    background-color: #1c5b72;
}
    #searchButton svg {
        fill:#fff;
    }
    #Signs {
        display:flex;
        flex-direction:column;
        border: 1px solid black;

        overflow: auto;
        white-space: nowrap;
        margin-left: 1px;
    }
        #Signs span {
            display: flex;
            align-items:center;
            margin: 1px;
            padding: 1px;
            flex-direction: row;
            border-bottom: 1px dotted gray;
        }
        .editButton {
            text-align:center;
            margin-left:auto;
            margin-right:0;
            float:right;
        }
        .previewButton {
            text-align:center;
            float:right;
        }
    #SignPreview {
        display:flex;
        align-items:center;
        justify-content:center;
        border: 1px solid gray;
        width: 20%;
        margin-left:1px;
    }
        #SignPreview canvas {
            margin-top: 1%;
            margin-bottom:auto;
            width:95%;
        }
#saveLabel {
    background-color: white;
    position: absolute;
    top: 80px;
    left: 100px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    border: 1px solid black;
    margin-left: 1px;
    padding: 2px;
    visibility: hidden;
}
.deleteButton, .editButton, .previewButton {
    min-width: 60px;
}
    #saveLabel p {
        float:right;
    }
    #saveLabel button {
        width:100%;
    }
  
    #saveLabel input {
        min-width:300px;
    }
    #pdf {
        width:40%;
    }
#loadSignsButton {
    margin-left: auto;
    float: right;
}
    #createPDFbutton{
        margin-left:auto;
        float:right;
    }
 