@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    
}

* {
    margin: 0;
    padding: 0;
}
button {
    border-radius:10px;
    border:1px solid black;
    min-height: 20px;
    min-width: 20px;
}

content {
    display: flex;
    flex-direction: row;
    height:85vh;
    min-height:600px;
}

    #leftSide {
    margin: 0;
    height: 100%;
    width: 40%;
}

#SignsContainer {
    display: none;
    margin: 0px;
    padding: 1px;
    height:100%;
    width: 100%;
    flex-direction: column;
    border: 1px dotted green;
    opacity: 0;
    transition: 0.3s;
}
        #SignsContainer.active {
        display: flex;
        opacity: 1;
    }
            #searchContainer{
        display:flex;
        width:100%;
        height:6%;
    }
                #fetchSignsButton {
    width: 6%;
    background-color: cornflowerblue;
    border-radius: 0px;
    margin:1px;
}
                #searchInput{
        width:100%;
    }
                #searchButton {
    border-radius: 0;
    min-width: 6%;
    background-color: #1c5b72;
}
                #searchButton svg {
        fill:#fff;
    }
            #Signs {
        display:flex;
        flex-direction:column;
        border: 1px solid black;

        overflow: auto;
        white-space: nowrap;
        margin-left: 1px;
    }
                #filterContainer{
                    display:flex;
                    padding: 1px;
                }
                #filterContainer, #filterContainer > * {
                    font-size: 15px;
                    margin:1px;
                }
                #filterContainer input {
                    height:1.5em;
                    width:1.5em;
                }
                #filterContainer #addSelectedLabels {
                    margin-top:0;
                    padding:0;
                    height:1.5em;
                    width: 1.5em;
                    border-radius:5px;
                    text-align:center;
                }
                #Signs span {
            display: flex;
            align-items:center;
            vertical-align:central;
            margin: 0px;
            padding: 0px;
            flex-direction: row;
        }
                    #Signs span input{
                        margin:1px;
                        margin-right:2px;
                    }
                    .editButton, .previewButton {
    min-width: 60px;
    float:right;
    text-align:center;
    vertical-align:central;
}
                    .editButton {
            margin-left:auto;
            margin-right:0;
        }
                    .previewButton {
        }
               

        #saveLabel {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    border: 1px solid black;
    padding: 2px;
    opacity: 0;
    transition: 0.3s;
}
        #saveLabel.active {
        display: flex;
        opacity: 1;
        transition: 0.3s;
    }
            #saveLabel p {
                float: right;
            }
            #saveLabel button {
                width: 100%;
            }
            .labelsContent input{
                min-width: 400px;
                max-width:400px;
                min-height:2rem;
            }
            #closeSignsBox {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    margin-left: auto;
    max-width: 25px;
    max-height: 25px;
    right: 0;
    top: 0;
    visibility: hidden;
}
            #closeSignsBox.active {
    visibility: visible;
}

#midSide {
    margin: 0;
    height: 100%;
    width: 30%;
    border: 1px solid black;
    overflow:auto;
}
#rightSide {
    margin: 0;
    height: 100%;
    width: 30%;
    border: 1px solid black;
}
    #pdf {
        display:none;
        width:100%;
        height:100%;
    }
#loadSignsButton {
    margin-left: auto;
    float: right;
}
    #createPDFbutton{
        margin-left:auto;
        float:right;
    }
#SignPreview {
    display: relative;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

    #SignPreview canvas {
        margin-top: 1%;
        margin-bottom: auto;
        width: 95%;
    }
    #AddedLabels table {
        width:100%;
        border:1px solid black;
    }
    #AddedLabels table th {
        border: 1px solid black;
        background-color:lightblue;
    }
    #AddedLabels tr:nth-child(odd){
        background-color:lightgray;
    }
    #AddedLabels table td {
        border:1px dotted black;
    }
    #btnDeleteLabels{
        float:right;
        margin-left:auto;
        padding:1px;
        border-radius:3px;
    }