@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    
}

* {
    margin: 0;
    padding: 0;
}
button {
    border-radius:10px;
    border:1px solid black;
    min-height: 20px;
    min-width: 20px;
}

content {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

    #leftSide {
    margin: 0;
    height: 100%;
    width: 40%;
}

        #SignsContainer {
    display: none;
    margin: 0px;
    padding: 1px;
    width: 100%;
    flex-direction: column;
    border: 1px dotted green;
    height: 600px;
    opacity: 0;
    transition: 0.3s;
}
        #SignsContainer.active {
        display: flex;
        opacity: 1;
    }
            #searchContainer{
        display:flex;
        width:100%;
        height:6%;
    }
                #fetchSignsButton {
    width: 6%;
    background-color: cornflowerblue;
    border-radius: 0px;
    margin:1px;
}
                #searchInput{
        width:100%;
    }
                #searchButton {
    border-radius: 0;
    min-width: 6%;
    background-color: #1c5b72;
}
                #searchButton svg {
        fill:#fff;
    }
            #Signs {
        display:flex;
        flex-direction:column;
        border: 1px solid black;

        overflow: auto;
        white-space: nowrap;
        margin-left: 1px;
    }
                #Signs span {
            display: flex;
            align-items:center;
            vertical-align:central;
            margin: 0px;
            padding: 0px;
            flex-direction: row;
        }
                    #Signs span input{
                        margin:1px;
                        margin-right:2px;
                    }
                    .deleteButton, .editButton, .previewButton {
    min-width: 60px;
    float:right;
    text-align:center;
    vertical-align:central;
}
                    .editButton {
            margin-left:auto;
            margin-right:0;
        }
                    .previewButton {
        }
                    .deleteButton{
                }

        #saveLabel {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    border: 1px solid black;
    padding: 2px;
    opacity: 0;
    transition: 0.3s;
}
        #saveLabel.active {
        display: flex;
        opacity: 1;
        transition: 0.3s;
    }
            #saveLabel p {
                float: right;
            }
            #saveLabel button {
                width: 100%;
            }
            #saveLabel input {
                min-width: 300px;
            }
            #closeSignsBox {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    margin-left: auto;
    max-width: 25px;
    max-height: 25px;
    right: 0;
    top: 0;
    visibility: hidden;
}
            #closeSignsBox.active {
    visibility: visible;
}

    #pdf {
        width:40%;
    }
#loadSignsButton {
    margin-left: auto;
    float: right;
}
    #createPDFbutton{
        margin-left:auto;
        float:right;
    }
#SignPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 20%;
    margin-left: 1px;
}

    #SignPreview canvas {
        margin-top: 1%;
        margin-bottom: auto;
        width: 95%;
    }