#myCanvas {
    border: 1px solid black;
}
.dragenter {
    border: 2px dashed darkgreen;
    background: lightgreen;
}
.draggedOver{
    opacity: 0.7;
    border: 1px double gray;
    background: green;
}
.dragged {
    background: green;
    border: 2px dashed gray;
    cursor:move;
}

input:valid{
    background:lightgreen;
}
input:invalid{
    background:pink;
}

*{
    margin:2px;
}

button{
    border-radius:10px;
    background-color:lightgray;
    text-shadow:1px 1px 2px lightgreen;
}