#divInvContainer{
    position:absolute;
    display:none;
  
}
#divInventory {
    position:relative;
    flex: auto;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    gap: 0.5px;
    border: 4px groove whitesmoke;
    border-radius: 15px;
}
#invButton {
    margin-top:200px;
}

.invHeader {
    position: relative;
    min-height: 30px;
    border-bottom: 3px groove whitesmoke;
    background-color: #3E3E3F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Xbutton {
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 2.5px;
    height: 25px;
    width: 25px;
    background-color: orangered;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.invContent {
    display: grid;
    grid-template-columns: repeat(5, 20% [col-start]);
    gap: 0.5px;
    padding: 5px;
    background-color: #3E3E3F;
}

.invFooter {
    min-height: 30px;
    border-top: 3px groove whitesmoke;
    background-color: #3E3E3F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.divItem {
    cursor: grab;
    position: relative;
    border: 0.01px solid whitesmoke;
    min-width: 50px;
    min-height: 50px;
    margin: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.itemValue {
    position: absolute;
    min-height: 15px;
    min-width: 15px;
    bottom: 0;
    right: 0;
    font: 10px arial;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-right: 1px;
    border-bottom: 1px;
    text-align: center;
    vertical-align: bottom;
    font: 10px Arial black;
    background-color: gray;
    color: white;
}
